.encabezado {
  grid-area: encabezado;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.278))), url(flores.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.278)), url(flores.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

#gridPrincipal {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 25%;
      grid-template-columns: 20% auto 25%;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 0px;
      grid-template-areas: "seccion seccion aside" "footer footer footer";
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titulo footer {
  background-color: #710303;
  color: white;
  text-align: center;
}

.logo {
  font-family: "Great Vibes", cursive;
  font-size: 100px;
  color: white;
  margin-top: 10%;
}

.textoBoton {
  color: white;
  font-size: 20px;
}

#posBoton {
  margin-top: 50px;
}

/*-----------CUERPO DE LA PAGINA-----------*/
.seccion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: seccion;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}

.seccion aside {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aside;
  text-align: center;
  background-color: #f2f2f2;
}

.seccion .contenido {
  height: auto;
  width: auto;
}

.seccion .contenido .textoIndex {
  text-align: justify;
}

/*.contenido {
    height: auto;
    width: auto;
    background-color: rgb(242, 242, 242);
}*/
.tituloContenido {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

/*.textoIndex {
    text-align: justify;
}*/
.parrafoIndex {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 5px;
  padding-bottom: 10px;
  color: #454545;
}

.imagenes {
  height: 100%;
  width: auto;
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.galeriaCarrusel {
  /*background-color: grey;*/
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.tituloAside {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  color: #454545;
}

.formulario {
  background-image: url(madera.jpg);
  background-size: cover;
  text-align: justify;
  height: 500px;
  width: 320px;
  border-radius: 15px;
  margin-top: 20%;
  margin-left: 10px;
  position: -webkit-sticky;
  position: sticky;
}

.fondoForm {
  /*background-color: rgb(255, 219, 225);*/
  background-color: #dfdfdf;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  height: 420px;
  width: 260px;
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #454545;
}

/*---------FOOTER----------*/
/*footer {
    background-color: rgb(113, 3, 3);
    color: white;
    text-align: center;
    grid-area: footer;
}*/
/*----------// FORMATO SECCIONES //----------*/
.encabezadoContacto {
  grid-area: encabezado;
  height: 350px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.278))), url(portadaContacto.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.278)), url(portadaContacto.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-position: center;
}

.titulo {
  background-color: #710303;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoSecciones {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  color: white;
  margin-top: 2%;
}

/*---------CUERPO DE CONTACTO---------*/
.seccionContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  width: 60%;
  background-image: url(madera.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.formularioContacto {
  background-size: cover;
  text-align: justify;
  height: auto;
  width: auto;
  border-radius: 15px;
  margin-top: 7%;
  background-color: #dfdfdf;
}

.formatoFormulario {
  background-color: #dfdfdf;
  width: auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-style: dotted;
}

.imagenContacto {
  height: 350px;
  width: 55%;
  background-color: white;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.134))), url(wedding1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.134)), url(wedding1.jpg);
  background-position: center;
}

/*-----------RESPONSIVE-----------*/
@media (max-width: 992px) {
  #gridPrincipal {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto 25%;
        grid-template-columns: 20% auto 25%;
    -ms-grid-rows: 1fr 1fr auto;
        grid-template-rows: 1fr 1fr auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 0px;
        grid-template-areas: "seccion seccion seccion" "aside aside aside" "footer footer footer";
  }
  aside {
    text-align: center;
    background-color: #f2f2f2;
  }
  .formulario {
    background-image: url(madera.jpg);
    background-size: cover;
    text-align: justify;
    height: 500px;
    width: 320px;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 30%;
    position: -webkit-sticky;
    position: sticky;
  }
  .fondoForm {
    /*background-color: rgb(255, 219, 225);*/
    background-color: #dfdfdf;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 420px;
    width: 260px;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #454545;
  }
  .imagenContacto {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */