@import "colores";
@import "fuentes";

$estilos: (
    color: rgb(113, 3, 3),
    fuente-tamano: 100px,
    alineacion: justify,
);

@mixin propiedades1 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    color: $colorFuente;
    text-align: justify;
}

.encabezado {
    grid-area: encabezado;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.278)), url(flores.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

#gridPrincipal {
    justify-content: stretch;
    display: grid;
    grid-template-columns: 20% auto 25%;
    grid-template-rows:  1fr auto;
    column-gap: 10px;
    row-gap: 0px;
    grid-template-areas: 
                         "seccion seccion aside"
                         "footer footer footer";
}

header {
    position: sticky;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: space-between;

    footer {
        background-color: map-get($estilos,color);
        color: white;
        text-align: center;
    }
}

.logo {
    font-family: $fuenteLogo;
    font-size: map-get($estilos,fuente-tamano);
    color: white;
    margin-top: 10%;
}

.textoBoton {
    color: white;
    font-size: 20px;
}

#posBoton {
    margin-top: 50px;
}

/*-----------CUERPO DE LA PAGINA-----------*/
.seccion {
    grid-area: seccion;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: $colorContenido;

    .contenido {
        height: auto;
        width: auto;
    }
}

aside {
    grid-area: aside;
    position: relative;
    background-image: url(madera2.jpg);
    background-size: cover;
}

.contactoAside {
    color: white;
}

/*.contenido {
    height: auto;
    width: auto;
    background-color: rgb(242, 242, 242);
}*/
.tituloContenido {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/*.textoIndex {
    text-align: justify;
}*/
.parrafo1 {
    @include propiedades1;
}

.parrafo2 {
    @include propiedades1;
}
.imagenes {
    height: 100%;
    width: auto;
    padding-bottom: 20px;
    
}

.galeriaCarrusel {
    /*background-color: grey;*/
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    
}

.creamosRecuerdos {
    height: 400px;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.278)), url(formulario.jpg);
    background-size: cover;
    background-blend-mode: darken;
    /*background-attachment: fixed;*/
    background-position: center;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    position: relative;
}

.recuerdos {
    font-family: $fuenteLogo;
    font-size: 100px;
    color: white;
    margin-top: 20px;
}

.tituloTarjetas {
    text-align: center;
    color: $colorFuente;
}

.tarjetasServicios {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}


.tituloAside {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    color: rgb(69, 69, 69);
}


.fondoForm {
    background-color: $colorFormularioContacto  ;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 420px;
    width: 260px;
    margin-left: 12%;
    margin-top: 20%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 69, 69);
    position: sticky;
    top: 50px;
    left: 20px;
    
}

/*---------FOOTER----------*/

footer {
    background-color: rgb(113, 3, 3);
    color: white;
    text-align: center;
    grid-area: footer;
}

/*----------// FORMATO SECCIONES //----------*/
.encabezadoContacto {
    grid-area: encabezado;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.278)), url(portadaContacto.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: center;
}
.titulo {
    background-color: rgb(113, 3, 3);
    color: white;
    display: flex;
    justify-content: space-between;
}
.logoSecciones {
    @extend .logo;
    /*font-family: $fuenteLogo;
    font-size: 60px;
    color: white;
    margin-top: 2%;*/
}
/*---------CUERPO DE CONTACTO---------*/
.seccionContacto {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.contacto {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 60%;
    background-image: url(madera.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.formularioContacto {
    background-size: cover;
    text-align: justify;
    height: auto;
    width: auto;
    border-radius: 15px;
    margin-top: 7%;
   
}
.formatoFormulario {
    background-color: $colorContenido;
    width: auto;
    padding-top: 15px; padding-left: 15px; padding-bottom: 15px; padding-right: 15px;
    display: flex;
    justify-content: space-between;
   
}

.imagenContacto {
    height: 350px;
    width: 55%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.134)), url(wedding1.jpg);
    background-position: center;
    text-align: center;

}

.contactanos {
    font-family: $fuenteLogo;
font-size: 100px;
color: white;
margin-top: 15%;

}


/*-----------RESPONSIVE-----------*/

@media (max-width: 992px) {
    
    #gridPrincipal {
        justify-content: stretch;
        display: grid;
        grid-template-columns: 20% auto 25%;
        grid-template-rows: 1fr 1fr auto;
        column-gap: 10px;
        row-gap: 0px;
        grid-template-areas: 
                             "seccion seccion seccion"
                             "aside aside aside"
                             "footer footer footer";
    }
    aside {
        text-align: center;
        
    }
    .formulario {
        background-image: url(madera.jpg);
        background-size: cover;
        text-align: justify;
        height: 500px;
        width: 320px;
        border-radius: 15px;
        margin-top: 5%;
        margin-left: 30%;
        position: sticky;
    }
    .fondoForm {
        /*background-color: rgb(255, 219, 225);*/
        background-color: rgb(223, 223, 223);
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        height: 420px;
        width: 260px;
        position: absolute;
        margin-top: 40px;
        margin-left: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(69, 69, 69);
    }
    .imagenContacto {
        display: none;
    }
}

@media (max-width: 1200px) {
.fondoForm{
    background-color: rgb(223, 223, 223);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 420px;
    width: 260px;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 69, 69);
    align-items: center;
}

.imagenContacto {
    height: auto;
    width: auto;
}
}

